<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>EDIT {{name}} </h1>
</head>
<body>
  <form action="/gallery/{{id}}?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded" >

  <label for="PUT-author">Author: </label>
  <input id="PUT-author" type="text" name="author" placeholder="{{author}}" value="{{author}}">

  <label for="PUT-link">Link: </label>
  <input id="PUT-link" type="text" name="link" placeholder="{{link}}" value="{{link}}">

  <label for="PUT-description">Description: </label>
  <input id="PUT-description" type="text" name="description" placeholder="{{description}}" value="{{description}}">

  <input type="submit" value="submit">
  </form>
  
</body>
</html>