<div class="photos">
  <h1>Product: </h1>
  <h2>Author: {{author}}</h2>
  <h3>Link: {{link}}</h3>
  <h3>Description: {{description}}</h3>
  <h3>ID: {{id}}</h3>

  <a href="/gallery/{{id}}/edit?_method=Put">
    <input type="submit" value="Edit">
  </a>

  <form action="/gallery/{{id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
    <button type="submit">Delete</button>
  </form>

</div>