<div class="photos">
  <img src={{link}}>
  <p>Author: {{author}}</p>
  <p>Description: {{description}}</p>
  <p>ID: {{id}}</p>

  <a href="/gallery/{{id}}/edit?_method=Put">
    <input type="submit" value="Edit">
  </a>

  <form action="/gallery/{{id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
    <button type="submit">Delete</button>
  </form>

</div>